#exam-chart{
    max-width: 1000px;
    max-height: 400px;
    text-align: center;
}

canvas{
    display: flex!important;
}

#score-card{
    max-width: 800px;
}

.carousel-caption {
    top: 0;
    bottom: auto;
}

.form-select {
    box-shadow: none!important;
}

.form-select option:hover {
    background-color: gray;
}

.my-dept {
    font-weight: bold;
}