#exam-chart{
    max-width: 1000px;
    max-height: 400px;
    text-align: center;
}

canvas{
    display: flex!important;
}

#score-card{
    max-width: 800px;
}

.carousel-caption {
    top: 0;
    bottom: auto;
}