extends ../layout/layout.pug
block nav-header   
    link(rel="stylesheet", href="../public/views/css/nav.css")

block content 
    .py-5.text-center 
        h2 클래스 추가하기
    .container
        .row.g-5
            form.needs-validation(action="/classList/add-class" method="post" novalidate) 
                .row.g-3
                    .col-12
                        label.form-label(for="classname") 반 이름
                        input#classname.form-control(name="classname" type="text" placeholder="Name" required)
                        .invalid-feedback 이름을 입력해주세요
                    //- .col-12
                    //-     label.form-label(for="classname") 학생
                    //-     input#classname.form-control(type="text" placeholder="Name" required)
                    //-     .invalid-feedback 이름을 입력해주세요
                    .col-12
                        p 수강 요일
                        input#btn-check-mon.btn-check(name="monday" type="checkbox")
                        label.btn.btn-outline-secondary.shadow-none(for="btn-check-mon") 월
                        input#btn-check-tues.btn-check(name="tuesday" type="checkbox", autocomplete="off")
                        label.btn.btn-outline-secondary(for="btn-check-tues") 화
                        input#btn-check-wed.btn-check(name="wednesday" type="checkbox", autocomplete="off")
                        label.btn.btn-outline-secondary(for="btn-check-wed") 수
                        input#btn-check-thu.btn-check(name="thursday" type="checkbox", autocomplete="off")
                        label.btn.btn-outline-secondary(for="btn-check-thu") 목
                        input#btn-check-fri.btn-check(name="friday" type="checkbox", autocomplete="off")
                        label.btn.btn-outline-secondary(for="btn-check-fri") 금
                        input#btn-check-sat.btn-check(name="saturday" type="checkbox", autocomplete="off")
                        label.btn.btn-outline-secondary(for="btn-check-sat") 토
                        input#btn-check-sun.btn-check(name="sunday" type="checkbox", autocomplete="off")
                        label.btn.btn-outline-secondary(for="btn-check-sun") 일
                        .d-flex.flex-row
                           
                    hr.my-4
                    button.w-100.btn.btn-primary(type="submit") 완료

