/node_modules
/src/public/db/mysql.js
/build
/src/server.js
/src/db/dbConfig.js
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
build/server.js
