/node_modules
/src/public/db/mysql.js
/build
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
src/config.json
test/testResource/testExcel.xlsx
src/auth/initPw.js
package-lock.json
