doctype html
html(lang="en")
    head
        block header
            include header.pug
        block nav-header 
            include nav-header.pug

    body 
        block nav
            include nav.pug
        block content 
        block footer 
            include footer.pug