extends ../layout/layout.pug

block append header 
    link(rel="stylesheet", href="public/views/css/login.css")

block nav

block content
    body.text-center 
        main.form-signin.w-100.m-auto
            form(action="/signup", method="post")
                h1.h3.mb-3.fw-normal Sign up
                .form-floating
                    input#username.form-control(name="username" type="text" placeholder="ID" autocomplete="username" required)
                    label(for='username') ID
                .form-floating
                    input#new-password.form-control(name="password" type="password" placeholder="Password" autocomplete="new-password" required)
                    label(for='new-password') Password
                //- .checkbox.mb-3
                //-     label
                //-         input(type='checkbox' value='remember-me')
                //-         |  Remember me
                button.w-100.btn.btn-lg.btn-primary(type='submit') Sign up

block footer