extends ../layout/layout.pug

block append header 
    link(rel="stylesheet", href="../../public/views/css/home.css")
    link(rel="stylesheet", href="../../public/views/css/nav.css")
    link(rel="icon", type="image/png", href="../../public/views/img/favicon.ico")

block content

    .d-flex.justify-content-center
        #score-card.container
            .row.justify-content-center
            .card.mt-4.mx-3.overflow-auto
                h5.card-header.text-center #{round}회차 채점 기준
                each scoreRule in scoreRuleArr
                    if(scoreRule === "$")
                        div <br>
                    else
                        div #{scoreRule} <br>
            
                
    //- .row
    //-     .container.mx-5
    //-         h4.text-center 채점 기준
    //-         each scoreRule in scoreRuleArr
    //-             if(scoreRule === "$")
    //-                 div <br>
    //-             else
    //-                 div #{scoreRule} <br>

block append footer 
    script(src="/public/views/js/examList.js") 