extends ../layout/layout.pug

block append header 
    link(rel="stylesheet", href="public/views/css/login.css")

block nav

block login-content 
    body.text-center 
        main.form-signin.w-100.m-auto
            form#change-password-form(action="/change-password" method="post" onsubmit="return checkValidity()") 
                h1.h3.mb-3.fw-normal 비밀번호 변경
                .form-floating
                    input#newPassword.form-control(name="newPassword" type='password' placeholder='새 비밀번호' autocomplete="newPassword" required)
                    label(for='newPassword') 새 비밀번호
                .form-floating
                    input#newPasswordCheck.form-control(type='password' placeholder='비밀번호 확인' autocomplete="new-password-check" required)
                    label(for='newPasswordCheck') 비밀번호 확인
                button#submit-btn.w-100.btn.btn-lg.btn-primary(type='submit') 비밀번호 변경

block footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js") 
    script(src="/public/views/js/settings.js") 