extends ../layout/layout.pug

block content
    .row.mt-5 
        .col-3
            .col.mx-5.p-5
                #v-pills-tab.nav.flex-column.nav-pills(role='tablist' aria-orientation='vertical')
                    a#v-pills-home-tab.nav-link.active(data-toggle='pill' href='#v-pills-home' role='tab' aria-controls='v-pills-home' aria-selected='true') 계정
                    a#v-pills-profile-tab.nav-link(data-toggle='pill' href='#v-pills-profile' role='tab' aria-controls='v-pills-profile' aria-selected='false') 알림
                    a#v-pills-messages-tab.nav-link(data-toggle='pill' href='#v-pills-messages' role='tab' aria-controls='v-pills-messages' aria-selected='false') 디스플레이
                    a#v-pills-settings-tab.nav-link(data-toggle='pill' href='#v-pills-settings' role='tab' aria-controls='v-pills-settings' aria-selected='false') 보안
                    a#v-pills-delete-account-tab.nav-link(data-toggle='pill' href='#v-pills-settings' role='tab' aria-controls='v-pills-delete-acount' aria-selected='false') 계정 삭제
        .col-9
            #v-pills-tabContent.tab-content
                #v-pills-home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='v-pills-home-tab')
                    include account.pug
                #v-pills-profile.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-profile-tab') 2
                    //- include account.pug
                #v-pills-messages.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-messages-tab') 3
                #v-pills-settings.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-settings-tab')
                    include security.pug
                #v-pills-delete-account.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-delete-account-tab')