.container
    .d-flex.flex-row-reverse
        button#class-add-btn.btn.btn-primary.me-5(type="button") 클래스 추가
    ul.mt-4
        li.col-11.d-flex.flex-justify-between.width-full.py-4.border-bottom
            .col-9.col-lg-9.d-inline-block
                .mb-1 서울과학고
                .mb-0  5명
        li.col-11.d-flex.flex-justify-between.width-full.py-4.border-bottom
            .col-9.col-lg-9.d-inline-block
                .mb-1 경기과학고
                .mb-0  6명
        li.col-11.d-flex.flex-justify-between.width-full.py-4.border-bottom
            .col-9.col-lg-9.d-inline-block
                .mb-1 충주과학고
                .mb-0  7명