doctype html
html(lang="en")
    head 
        include header.pug
        link(rel="stylesheet", href="public/views/css/home.css")
    body 
        include nav.pug
        .container
            .row.home-row-content.justify-content-md-center
                .col-7
                    img.image-rqmvmL.featureImage-3YcglB(alt='Stylized image of a Discord server with multiple channels for studying, games, cooking, and pet photos.' src='/')
                .col-4            
                    h1 이제 학생들의 성적을 손쉽게 관리해보세요
                    .subtitle-7cQirt Discord 서버는 주제 기반 채널로 나뉩니다. 단체방에서도 혼잡함 없이 협동하고, 공유하고, 편하게 이야기를 나눌 수 있어요.
        .container.bg-gray
            .row.home-row-content.justify-content-md-center
                .col-4            
                    h1 이제 학생들의 성적을 손쉽게 관리해보세요
                    .subtitle-7cQirt Discord 서버는 주제 기반 채널로 나뉩니다. 단체방에서도 혼잡함 없이 협동하고, 공유하고, 편하게 이야기를 나눌 수 있어요.
                .col-7
                    img.image-rqmvmL.featureImage-3YcglB(alt='Stylized image of a Discord server with multiple channels for studying, games, cooking, and pet photos.' src='/')
        .container
            .row.home-row-content.justify-content-md-center
                .col-7
                    img.image-rqmvmL.featureImage-3YcglB(alt='Stylized image of a Discord server with multiple channels for studying, games, cooking, and pet photos.' src='/')
                .col-4            
                    h1 이제 학생들의 성적을 손쉽게 관리해보세요
                    .subtitle-7cQirt Discord 서버는 주제 기반 채널로 나뉩니다. 단체방에서도 혼잡함 없이 협동하고, 공유하고, 편하게 이야기를 나눌 수 있어요.

        include footer.pug