extends ../layout/class-list-layout.pug

block class-list
    .container
        .d-flex.flex-row-reverse
            button#class-add-btn.btn.btn-primary.me-5(type="button") 클래스 추가
        ul.mt-4
            each aClass in classes 
                li.col-11.d-flex.flex-justify-between.width-full.py-4.border-bottom.class-list
                    #class.col-9.col-lg-9.d-inline-block
                        #class-name.mb-1 #{aClass.name}
                        #class-id.hidden #{aClass.id}

block common-exam-list 
    .container
        ul.mt-4
            -var count = 1;
            while commonExamCount > 0
                li.col-11.d-flex.flex-justify-between.width-full.py-4.border-bottom.class-list
                    .col-9.col-lg-9.d-inline-block
                        .mb-1 공통#{count}회차
                    .col-3    
                        button#excel-export-btn.btn.btn-primary.me-5 출력하기
                -commonExamCount--
                -count++;


block append footer 
    script(src="/public/views/js/classes.js") 
