.hidden {
    visibility: hidden;
}

html, body {
    height: 100%;
}

#wrapper {
    height: auto;
    min-height: 88%;
    padding-bottom: 10px;
}

footer {
    height: 10px;
    position: relative;
    transform: translateY(-100%);
}

.logo-title {
    font-size: 3em;
}