extends ../layout/layout.pug

block append header 
    link(rel="stylesheet", href="public/views/css/login.css")

block nav

block login-content 
    body.text-center 
        main.form-signin.w-100.m-auto
            h1.h3.mb-3.fw-normal 로그인
            #login-form
                .form-floating
                    input#username.form-control(name="username" type="text" placeholder="ID" autocomplete="username" required)
                    label ID
                .form-floating
                    input#password.form-control(name="password" type='password' placeholder='Password' autocomplete="current-password" required)
                    label Password
                div * 아이디는 전화번호입니다 
                br
                //- .checkbox.mb-3
                //-     label
                //-         input(type='checkbox' value='remember-me')
                //-         |  Remember me
                button#login-btn.w-100.btn.btn-lg.btn-primary 로그인

block footer 
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src="/public/views/js/login.js") 