extends ./layout/layout.pug

block append header 
    link(rel="stylesheet", href="public/views/css/home.css")

block content 
    .container
        
        #home-img.row.m-auto
            img(alt='Stylized image of a doitedu with for studying, exams, and scores.' src='public/views/img/homeImg1.jpg')

        .row.justify-content-md-center.text-center
            h1.logo-title 해냄 성적
            .subtitle-7cQirt 이제 학생들의 성적을 손쉽게 확인해보세요
        //- .row.home-row-content.justify-content-md-center
        //-     .col-6
        //-         img(alt='Stylized image of a doitedu with for studying, exams, and scores.' src='public/views/img/homeImg1.jpg' width="100%" height="100%")
        //-     .col-4            
        //-         h1 이제 학생들의 성적을 손쉽게 확인해보세요
        //-         .subtitle-7cQirt 학생들의 성적을 지원학과, 반에 따라 등수를 손쉽게 확인할 수 있고, 평균과 표준편차도 함께 제공합니다.
    //- .container.bg-gray
    //-     .row.home-row-content.justify-content-md-center
    //-         .col-4            
    //-             h1 이제 학생들의 성적을 손쉽게 관리해보세요
    //-             .subtitle-7cQirt Discord 서버는 주제 기반 채널로 나뉩니다. 단체방에서도 혼잡함 없이 협동하고, 공유하고, 편하게 이야기를 나눌 수 있어요.
    //-         .col-7
    //-             img(alt='Stylized image of a doitedu with for studying, exams, and scores.' src='public/views/img/homeImg2.png' width="100%" height="100%")
    //- .container
    //-     .row.home-row-content.justify-content-md-center
    //-         .col-7
    //-             img(alt='Stylized image of a doitedu with for studying, exams, and scores.' src='/')
    //-         .col-4            
    //-             h1 이제 학생들의 성적을 손쉽게 관리해보세요
    //-             .subtitle-7cQirt Discord 서버는 주제 기반 채널로 나뉩니다. 단체방에서도 혼잡함 없이 협동하고, 공유하고, 편하게 이야기를 나눌 수 있어요.